.checklistDetails {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.checklistDetails h3 {
  margin: 0 0 10px 0;
  font-size: 1.25em;
  color: var(--primary);
  word-wrap: break-word;
  word-break: break-word;
  padding-right: 90px;
}

.checklistDetails p {
  margin: 0;
  font-size: 1em;
  color: #555;
  word-wrap: break-word;
  word-break: break-word;
}

.checklistDetails a {
  color: inherit;
  text-decoration: inherit;
}

.checklistDetails span {
  position: absolute;
  top: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  font-size: 22px;
}

span.editBtn {
  right: 70px;
}

span.deleteBtn {
  right: 20px;
}