.weight {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;
  gap: 10px;
}

.weight label {
  align-self: end;
  padding-bottom: 30px;
}

.scrape {
  padding-bottom: 20px;
  margin-top: 40px;
}

.scrapeInput {
  display: grid;
  grid-template-columns: 1fr 78px;
  gap: 0px;
}

.scrapeInput button {
  height: 37px;
  margin-top: 10px;
  margin-bottom: auto;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #ddd;
  border-left: none;
}

.scrapeInput input {
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}

.create input, .create select, .scrape input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.create h2 {
  margin-top: 20px;
  margin-bottom: 25px;
}