.header {
  /* Fallback color */
  background: #fff;
  /* Gradient */
  background-image: linear-gradient(#3c668e, #bcc7d9, #fff);
}

/* .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
} */

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header a {
  color: #333;
  text-decoration: none;
}

.titleLogo {
  height: 60px;
  width: 214.61px;
  margin: 21.44px 0px;
  /* image-rendering: crisp-edges; */
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  min-width: 520px;
}


.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.loggedInHub {
  min-width: 0;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.userEmail {
  font-size: 14px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.logoutBtn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.hover {
  cursor: pointer;
}

.imgContainer {
  overflow: hidden;
  margin: 0px auto;
  margin-top: -30px;
  max-width: 1400px;
}

.mountains {
  display: block;
  min-width: 1400px;
  max-width: 1400px;
  width: 1400px;
  height: 36px;
  margin: 0 auto;
  overflow-y: hidden;
}

.mobileHam, .mobileMenu {
  display: none;
}

@media screen and (max-width: 1450px) {
  .imgContainer {
    margin: -30px 20px 0;
  }
}

/* Small Screen */
@media screen and (max-width: 1000px) {
  .container {
    padding-top: 0;
    padding-bottom: 5px;
    
  }
  .loggedInHub {
    display: none;
  }
  .desktopNav {
    display: none;
  }
  .login {
    display: none;
  }
  .mobileHam {
    display: block;
    align-self: center;
    justify-self: right;
  }
  .mobileHam span {
    font-size: 52px;
    user-select: none;
  }
  .mobileHam span:hover {
    cursor: pointer;
  }
  .mobileLogin, .mobileNav {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: right;
    font-size: 28px;
    color: #333;
    min-width: 0;
  }
  .mobileNav {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .symbols {
    top: 3.5px;
    position: relative;
  }
  .mobileMenu {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    right: 0;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);
    border-radius: 0 0 0 4px;
    padding: 10px 20px;
    border: 1px solid #888;
    border-right-style: none;
    border-top-style: none;
  }
  .mountains {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
    height: auto;
  }
  .imgContainer {
    margin-left: 0px;
    margin-right: 0px;
  }
}