/* ! This was a test for scrolling, but added a ton of new errors, so just keeping for reference*/

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
*, *::before, *::after {box-sizing: border-box;}
:root {
  --primary: #708259;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Lato";
  position: fixed; 
}
header {
  background: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /* overflow: hidden; */
  /* height: 80px; */
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px 40px;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  top: 100px;
}

/* gear closet and new list pages */
.gear-closet {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.home {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 100px;
}
/* .new-list, .closet-list{
  margin-top: 80px;
} */
.gear-details, .checklist-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.gear-details h4, .checklist-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.gear-details p, .checklist-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.gear-details a, .checklist-details a {
  color: inherit;
  text-decoration: inherit;
}

/* .gear-details img.gear-image {
  height: 100px;
} */

.gear-details span {
  position: absolute;
  top: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  font-size: 22px;
}

.gear-details span.edit {
  right: 70px;
}

.gear-details span.delete {
  right: 20px;
}

/* new gear form */

span.cancel {
  position: relative;
  top: 4px;
  cursor: pointer;
  color: #333;
  font-size: 18px;
}
label, input, select {
  display: block;
}
.create .weight {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;
  gap: 10px;
}

.create .weight label {
  align-self: end;
  padding-bottom: 30px;
}
.scrape {
  padding-bottom: 20px;
}
input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button, .save-list {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Lato";
  border-radius: 4px;
  cursor: pointer;
}
.save-list {
  margin-top: 15px; 
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error, select.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}


/* newList page */
.new-list {
  overflow-y: auto;
}
.closet-list {
  overflow-y: auto;
  height: 100vh;
}
.weight-italics {
  color: #9A3E25
}
button.delete-list {
  background-color: #9A3E25;
  margin-top: 10px;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Lato";
  border-radius: 4px;
  cursor: pointer;
}

/* saved lists */
/* .checklist-details {

} */

@media screen and (max-width: 1200px) {
  .home {
    grid-template-columns: 2fr 1fr;
    gap: 50px;
  }
  
  .gear-details span.edit {
    top: 20px;
    right: 20px;
  }
  
  .gear-details span.delete {
    top: 62px;
  }
}