/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: #f1f1f1;
  border-radius: 4px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /*! This needs to change*/
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  margin-top: -8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Form */

.weight {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;
  gap: 10px;
}

.weight label {
  align-self: end;
  padding-bottom: 30px;
}

.create input, .create select, .create textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}

.create textarea {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.create h2 {
  margin-top: 0px;
  margin-bottom: 25px;
}

/* Delete */


.modalDeleteContent {
  background-color: #f1f1f1;
  border-radius: 4px;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modalDeleteContent p {
  margin-bottom: 10px;
  font-size: 18px;
}

.delete, .cancel {
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-family: "Lato";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.delete {
  background: #9A3E25;
}

.cancel {
  background: var(--primary);
  margin-left: 20px;
}