.gearDetails, .checklist-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.gearDetails {
  min-height: 84px;
  padding-right: 75px;
}

.gearDetails h3 {
  margin: 0 0 10px 0;
  font-size: 1.25em;
  color: var(--primary);
}

.gearDetails p {
  margin: 0;
  font-size: 1em;
  color: #555;
  word-wrap: break-word;
  word-break: break-all;
}

.gearDetails a {
  color: inherit;
  text-decoration: inherit;
}

/* .gear-details img.gear-image {
  height: 100px;
} */

.editBtn, .deleteBtn {
  position: absolute;
  cursor: pointer;
  right: 20px;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  font-size: 22px;
}

span.editBtn { 
  top: 20px;
}

span.deleteBtn {
  top: 70px;
}
