.header {
  display: flex;
  align-items: flex-end;
  column-gap: 15px;
  position: relative;
  padding-right: 100px;
}

.header h2 {
  margin: 20px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 1;
}

.header span {
  position: absolute;
  top: 16px;
  cursor: pointer;
  background: white;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #333;
  font-size: 22px;
}

span.editBtn {
  right: 50px;
}

span.deleteBtn {
  right: 0px;
}

.spacer {
  margin-bottom: 12px;
  white-space: nowrap;
}

.category {
  columns: auto 21em;
  column-gap: 30px;
  column-rule: 1px solid #ccc;
  padding: 10px 20px 20px;
  width: 100%;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  margin: 20px 0;
  color: #555;
  position: relative;
}

.category h3 {
  column-span: all;
  font-size: 20px;
  margin: 10px 0px;
  color: rgb(62, 62, 62);
}

.category h3 span {
  font-weight: normal;
  font-size: 18px;
  color: #555;
  position: absolute;
  top: 20px;
  right: 20px;
}

.gearItem {
  padding-left: 23px;
  text-indent:-12px;
  margin-top: 3px;
  word-wrap: break-word;
  word-break: break-word;
}

.notes {
  border-top: 1px solid rgb(161, 160, 160);
  padding-top: 16px;
  margin-top: 25px;
}

@media screen and (max-width: 850px) {
  .header {
    flex-wrap: wrap;
  }
  .header h2 {
    width: 100%;
    flex: none;
  }
  .hide {
    display: none;
  }
}